@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Roboto:400,500&subset=cyrillic');

*{
    outline: none;
}

body {
    background-color: #f2f2f2;
    color: #333;
    padding-top: 130px;
}

button:focus, a:focus {
    outline: none;
    text-decoration: 
}

button {
    text-transform: uppercase;
}

a {
    transition: .3s;
}

span {
    color: #c9001a;
}

.contacts a:hover{
     color: #c9001a !important;
}

a:hover {
    
    text-decoration: none;
}

.navbar {
    background-color: #f2f2f2;
    
}

a.btn.btn, button.btn {
    border: 1px solid #c9001a;
}

a.btn.btn:hover, button.btn:hover, .btn-group button.btn.active,
.btn-group-vertical button.btn.active{
    background-color: #f2f2f2 !important;
    border: 1px solid #c9001a;
    color: #c9001a !important;
}

.navbar > div {
    min-height: 90px;
}

.navbar-brand img {
    width: 160px;
}



h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    max-width: 280px;
    text-align: center;
    letter-spacing: 1.5px;

}

.navbar h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.fa-bars {
    font-size: 28px;
    color: #c9001a;
}

.navbar .contacts a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    color: #333;
}

.navbar .contacts a.tel {
    letter-spacing: 1.25px;
}

section.final-contacts .contacts h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}

section.final-contacts .contacts a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    font-size: 20px;
}

section.final-contacts .contacts a.tel {
    letter-spacing: 0.8px;
}

.contacts i {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    color: #c9001a;
    margin-right: 7px;
}

.navbar section {
    width: 100vw;
    height: 40px;
    background-color: #c9001a;

    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar section a {
    color: white;
}

.navbar section ul {
    width: 75%;
    margin: auto;
}

.navbar .btn {
    width: 50%;
    margin: auto;
    background-color: #c9001a;
    color: white !important;
}

section.hero {
    height: 75vh;
}

section.padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-heading {
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
}

h4 {
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 200px;
    text-transform: uppercase;
    margin: auto;
    letter-spacing: 1px;
    font-weight: 400;
}

section.features img {
    width: 45%;
    max-width: 115px;
}

.divider {
    width: 75px;
    height: 4px;
    border-radius: 10px;
    background-color: #c9001a;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}



.price-table > .row {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    
}

.ptable-head, .ptable-subhead {
    background-color: #c9001a;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.ptable-head {
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.ptable-head h3 {
    margin-bottom: 0;
    font-size: 18px;
}
.ptable-bodyrow {
    border-bottom: 1px solid #c9001a;
    margin-left: 0;
    margin-right: 0;
    border-right: 1px solid #c9001a;
    text-transform: uppercase;
}
.ptable-bodyrow > div {
    border-left: 1px solid #c9001a;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



.ptable-bodyrow p {
    margin-bottom: 0;
    
}

.ptable-bodyrow a.btn, .modal button.btn {
    
    background-color: #c9001a;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 10px;
}

.fullImg {
    cursor: pointer;
}


section.delivery h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}

.dtable-head {
    background-color: #c9001a;;
    color: white;
}
.del-table > .row {
    border-right: 1px solid #c9001a;
}

.del-table > .row > div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.del-table p {
    margin-bottom: 0;
}

.del-table > .row > div+div {
    border-left: 1px solid #c9001a;
    border-bottom: 1px solid #c9001a;
}

section.delivery a.btn {
    background-color: #c9001a;
    color: white !important;
    text-transform: uppercase;
    padding: 10px 20px;
}

h5 {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #c9001a;
    font-size: 16px;
}

.slick-arrow {
    position: absolute;
    top: 55%;
    background: 0 0;
    border: none;
    color: #c9001a;
    z-index: 1;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
    transform: translate(0, -100%);

    cursor: pointer;
}

.slick-prev {
    left: -5%;
    padding-left: 0;
}

.slick-next {
    right: -5%;
    padding-right: 0;
}

section.lab p {
    width: 80%;
    margin: auto;
    text-align:justify;
    text-align: 
}

.footer {
    background-color: #c9001a;;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.footer a {
    color: white;
    
}

label {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

#orderForm input,#orderForm textarea {
    padding: 10px;
    border: 1px solid #333;
}

#orderForm input:focus,  
#orderForm textarea:focus{
    box-shadow: none;
}

.modal-header {
    border-bottom: 1px solid #c9001a;
}

.modal-footer {
    border-top: 1px solid #c9001a;
}

.modal-content {
    background-color: #f2f2f2;
}


input, textarea {
    background-color: #f2f2f2 !important;
    
}

#products {
    text-transform: uppercase;
    
}

.cartFinals span {
    font-weight: 700;
}

.powr-reviews {
    max-height: 700px;
    overflow-y: scroll;
/*    margin-bottom: 20px;*/
    margin-top: 10px;
  
}

@media (max-width: 991px) {
    
    .navbar {
        box-shadow: 0 1px #e5e5e5;
    }
    
    .navbar-brand img {
        width: 120px;
    }
    
    .navbar > div {
    min-height: 70px;
}
    
    body {
         padding-top: 86px;
    }
    
    .ptable-bodyrow > div {
        padding-top: 1px;
        padding-bottom: 1px;
        border: none !important;
    }
    
    .ptable-bodyrow {
        padding-top: 9px;
        padding-bottom: 9px;
       border-left: 1px solid #c9001a;
    border-right: 1px solid #c9001a;
    }
    
    .del-table h4 {
        font-size: 14px;
    }
    
    .powr-reviews {
          padding-right: 10px;
    }
}

@media (max-width: 576px) { 
  
}
